# Dependencies
node_modules

# Build output
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env & secrets
.env
.env.*

# OS / editor junk
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Coverage
coverage

# Local caches
.eslintcache
.cache
